*,
*::before,
*::after{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    font: inherit;
}
:root{
    /*VARIABLES Y SUS PROPIEDADES*/
    --border-corner: 24px;
}
html {
    height:100%;
}
body{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
img, picture, video {
    display: block;
    max-width: 100%;
}
/*Top logo, title and help-link*/
.contenedor-cabeza{
    /*white*/
    background-color: white;
    /*--padding: 2rem; padding: var(--padding);*/
    width: 100%;
    position: relative;
    padding: 2rem;
}
.logo{
    position: relative;
    top: 2rem;
    left: 2rem;
}
.titulo-encriptador{
    position: absolute;
    font-size: 2.5rem;
    top: 7rem;
    left: 15rem;
}
.link-top{
    position: absolute;
    font-size: 1rem;
    bottom: 0;
    left: 50rem;
}
/*Aqui empieza el contenido del body*/
.contenedor-principal{
    /*red*/
    display: flex;
}
.contenedor-encriptador{
    /*Yellow*/
    background-color: yellow;
    position: relative;
    width: 30%;
    margin-right: 10%;
    top: 4rem;
    border-radius: var(--border-corner);
}
.contenedor-resultados{
    /*Pink*/
    background:pink;
    position: relative;
    width: 30%;
    margin-left: 10%;
    border-radius: var(--border-corner);
}
.contenedor-inferior{
    display: flex;
}