/*
1. background ->  [ background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); ]
2. Color blue -> [ color: #0A3871;] (Main title, desencriptar, descarga una copia
redes sociales, Acerca del autor y todo su texto, ningun mensaje fue encontrado,
ingresa el texto a desencriptar o encriptar)
3. logo -> 
[
position: absolute;
left: 3.61%;
right: 88.68%;
top: 3.52%;
bottom: 79.69%;
]
*/
.titulo-encriptador{
    color: blue;
}