html {height:100%;}
body{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.logo{
    position: absolute;
    left: 3.61%;
    right: 88.68%;
    top: 3.52%;
    bottom: 79.69%;
}
.titulo-encriptador{
    position: absolute;
    width: 296px;
    height: 88px;
    left: 233px;
    top: 35px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #0A3871;
}
.link-top{
    position: absolute;
    left: 61%;
    top: 1%;
    bottom: 2%;
    
}
.encriptador{
/* Rectangle 2 Encriptar */
    position: absolute;
    width: 352px;
    height: 513px;
    left: 192px;
    top: 200px;
    /* White */
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.boton-encriptar{
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 8px;
    position: absolute;
    width: 328px;
    height: 77px;
    left: 11px;
    top: 420px;
    /* Dark blue/dark-blue-300 */
    background: #0A3871;
    border-radius: 24px;
}

p{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    text-align: center;
    /* White */
    color: #FFFFFF;
    /* Inside auto layout */

}
.desencriptador{
    position: absolute;
    width: 352px;
    height: 541px;
    left: 572px;
    top: 225px;
    /* White */
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.boton-desencriptar{
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 8px;
    position: absolute;
    width: 328px;
    height: 77px;
    left: 11px;
    top: 450px;
    /* Light gray */    
    background: #b3c6e0;
    border: 1px solid rgba(10, 56, 113, 0.24);
    border-radius: 24px;
}
.caja-resultados{
    position: absolute;
    width: 368px;
    height: 501px;
    left: 57%;
    top: 10%;
    /* White */
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.resultados-texto{
    /* Ningún mensaje fue encontrado */
    position: absolute;
    width: 50%;
    height: 48px;
    left: 25%;
    top: 75%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    /* or 24px */
    text-align: center;
    /* Gray/gray-500 */
    color: #343A40;
}
.muneco{
    position: absolute;
    width: auto;
    height: auto;
    left: 15%;
    top: 15%;
}